:root {
    --dark-purple: #1D131D;
    --medium-purple: #291829;
    --light-purple: #AB4ABA;
    --pink: #FD01CF;
    --light-pink: #FF4970;
    --button-color: linear-gradient(90deg, #FD01CF -17.8%, #3A9DB9 126.48%);
}

footer {
    position: absolute;
    width: 80%;
    height: 100px;
    
    background-color: var(--medium-purple);
    color: #FFF;
    font-family: 'Poppins', sans-serif;

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20%;
}

footer > p {
    margin-left: 20px;
    color: rgb(235, 226, 226);
}

footer > .socialMedia > a {
    text-decoration: none;
    margin-left: 30px;
}

.icons{
    width: 50px;
    height: 35px;
}

@media screen and (max-width: 1024px){
    @media screen and (min-width: 768px) {
        footer{
            margin-left: 22%;
        }
    }
}

@media screen and (max-width: 768px) {
    @media screen and (min-width: 426px){

        footer{
            width: 100%;
            margin-left: 0;
        }

        footer > .socialMedia {
            margin: auto;
        }

        footer > p {
            font-size: 10px;
            margin: auto;
            text-align: center;
        }


        .icons{
            width: 20px;
        }
    }
}

@media screen and (max-width: 426px){
    @media screen and (min-width: 375px) {
        footer{
            width: 100%;
            margin-left: 0;
        }

        footer p {
            font-size: 10px;
        }

        .socialMedia{
            width: 100%;
            text-align: center;
        }

        .socialMedia .icons {
            width: 15px;
        }
    }
}
