header {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    

    background-color: var(--medium-purple);

    overflow: hidden;
}

header > a > img  {
    width: 100px;
    margin-left: 20px;
}

header > .menu {
    width: 85%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

header > .menu > .nav {
    width: 100%;
} 

header > .menu > .nav > a {
    padding-left: 50px;
    text-decoration: none;
    color: #fff;
    
    transition: all 0.2s ease-in;
    flex-wrap: nowrap;
}

header .menu .nav a:hover{
    color: #bfbfbf;
}

header > .menu > .logIn {
    display: flex;
    font-family: 'Poppins', sans-serif;
    margin-right: 40px;
}

header > .menu > .logIn > a {
    margin: 0 15px;
    text-decoration: none;
    color: #FFF;
    transition: all 0.2s ease-out;
}

header > .menu > .logIn > a:hover{
    color: #d6d4d4;
}

@media screen and (max-width: 766px) {
    @media screen and (min-width: 426px){

        header > a > img {
            width: 70px;
        }

        header > .menu {
            font-size: 12px;
        }

        header > .menu > .nav > a {
            font-size: 12px;
            display: inline;
            flex-direction: row;
        }
    }
}