@import url(fonts.css);
@import url(colors.css);
@import url(Components/header.css);
@import url(Components/footer.css);

* {
    margin: 0;
    padding: 0;
    border: 0;
    
}

section {
    width: 100%;
    height: 1400px;
    text-align: center;
    background-color: var(--dark-purple);
}

section > .logo {
    margin-bottom: 30px;
}

section > button {
    width: 180px;
    height: 40px;
    margin-top: 50px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
    background: var(--button-color);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #FFF;
}

section > h1 {
    margin-top: 100px;
    color: var(--pink);
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

section > .musicsArea {
    width: 100%;
    height: 600px;
    background-color: var(--dark-purple);
}

section > .musicsArea > h2 {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 65%;
    color: var(--pink);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

section > .musicsArea > .musicDisplay {
    width: 100%;


    display: flex;
    justify-content: center;
}

section > .musicsArea > .musicDisplay > .malvadao3 {
    width: 25%;
    height: 350px;
    margin: 45px;
    text-align: center;
}

section > .musicsArea > .musicDisplay > .malvadao3 > .banner {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background-image: url(../Assets/MusicBanner/malvadao3.svg);
    background-size: cover;

}

section > .musicsArea > .musicDisplay > .deusEMeuGuia {
    width: 25%;
    height: 350px;
    margin: 45px;
    text-align: center;
}

section > .musicsArea > .musicDisplay > .deusEMeuGuia > .banner {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background-image: url(../Assets/MusicBanner/deusEMeuGuia.svg);
    background-size: cover;

}

section > .musicsArea > .musicDisplay > .pandora {
    width: 25%;
    height: 350px;
    margin: 45px;
    text-align: center;
}

section > .musicsArea > .musicDisplay > .pandora > .banner {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background-image: url(../Assets/MusicBanner/pandora.svg);
    background-size: cover;
}

section > .musicsArea > .musicDisplay  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #FFF;
}

section > .musicsArea > .musicDisplay  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight:500;
    color: #FFF;
}

section > .musicsArea > .musicDisplay  h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
}

section > .musicsArea > button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
    background: var(--button-color);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #FFF;
}


