:root {
    --dark-purple: #1D131D;
    --medium-purple: #291829;
    --light-purple: #AB4ABA;
    --pink: #FD01CF;
    --light-pink: #FF4970;
    --button-color: linear-gradient(90deg, #FD01CF -17.8%, #3A9DB9 126.48%);
    --branco: #fff;
}

body{
    background: linear-gradient(180deg, #df64c8 -17.8%, #3A9DB9 126.48%);
    font-family: 'Poppins', sans-serif;

    width: 100%;
    height: 100vh;
    
}

.container{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;
    
}

.box_logo{
    position: relative;
    width: 40%;
    height: 90%;
    background-color: var(--dark-purple);
    
    border-radius: 30px 0 0 30px;

}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;

}


.box_login{
    position: relative;
    width: 40%;
    height: 90%;
    background-color: #ffffff;
    object-fit: contain;
    border-radius: 0 30px 30px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login{
    width: 100%;
    height: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
    padding: 50px 0;
}

.icon{
    color: var(--pink);
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
}

.txt_login{
    font-size: 3rem;
    font-weight: 600;
    margin: 30px 50px;
}

.loguet{
    width: 80%;
    margin: 30px 0;
    border-bottom: 3px solid #1D131D;
}

.barras{
    width: 80%;
    outline: none;
}

.remember{
    cursor: pointer;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember span{
    cursor: pointer;
    font-size: 1rem;
}

.remember .link_senha{
    color: #1b7892;
    font-size: 1rem;
}

.btn{
    position: relative;
    cursor: pointer;
    background: var(--button-color);
    color: var(--branco);
    padding: 10px 100px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 4px 2px rgb(198, 196, 196);
    margin-top: 80px;

    overflow: hidden;
}

.btn span{
    position: relative;
    z-index: 1;
}

.btn::before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #a329a8;

    transition: all 0.4s;
}

.btn:hover::before{
    width: 500px;
    height: 500px;

    overflow: hidden;
}

.or{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    
}

.or_bar{
    font-size: 1.1rem;
    content: #ccc;
    position: relative;

    font-size: 1.5rem;
}

.or .or_bar::after, .or .or_bar::before{
    content: "";
    position: absolute;
    height: 2px;
   
    bottom: 50%;
    right: 50px;
    background-color: rgb(58, 58, 58);
    width: 100px;
}

.or .or_bar::after{
    left: 50px;
}

.social_midia{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
}

.social_midia--logo a{
    padding: 0 40px;
    transition: all 0.2s ease-in;
}

.social_midia a:hover{
    opacity: 50%;
}

.img_midia{
    width: 33px;
}


.balls_principal{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.balls .Ball_bottom_left{
    position: absolute;
    z-index: -1;
    bottom: -20%;
    left: -10%;

    width: 500px;

}

.balls .Ball_top_left{
    position: absolute;
    z-index: -1;
    top: -25%;
    left: -10%;

    width: 500px;
}

.balls .Ball_bottom_right{
    position: absolute;
    z-index: -1;
    right: -10%;
    bottom: -20%;

    width: 500px;
}

.balls .Ball_top_right{
    position: absolute;
    z-index: -1;
    right: -10%;
    top: -25%;

    
    width: 500px;
}



@media screen and (max-width: 1245px) {
    .form{
        margin: 0;
    }

    .form .remember label span{
        font-size: 10px;
    }

    .remember .link_senha{
        font-size: 10px;
    }

    .btn{
        margin: 10px 0;
    }
    
    .icon{
        padding: 0 7px;
        font-size: 12px;
    }

    .or{
        margin: 20px 0;
    }

    .or .or_bar::after, .or .or_bar::before{
        width: 70px;     
    }
    
    .social_midia--logo a{
        padding: 0 25px;    
    }

    .btn{
        margin-top: 20px;
        padding: 10px 70px;
    }

    .balls .Ball_bottom_left{
        display: none;
    }

    .balls .Ball_top_left{
        display: none;
    }
    
    .balls .Ball_bottom_right{
        display: none;
    }

    .balls .Ball_top_right{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .box_logo{
        display: none;
    }

    .box_login{
        width: 80%;
        border-radius: 30px;
    }

    .form{
        margin-top: 10px;
        padding: 20px 0;
    }

    .login{
        width: 100%;
    }

    .txt_login{
        font-size: 3rem;
        margin: 30px 40px;
    }

    .btn{
        padding: 10px 100px;
        margin-top: 25px;
    }

    .or{
        margin: 20px 0;
    }

    .or .or_bar::after, .or .or_bar::before{
        width: 150px;     
    }

    .social_midia{
        margin-top: 20px;
    }

    .social_midia--logo{
        margin-left: 20px;
    }

    .social_midia--logo:first-child {
        margin-left: 0;
    }
}

@media screen and (min-width: 425px) {

    .container{
        width: 100%;
     
    }

    .btn{
        padding: 10px 80px;
        margin-top: 25px;
    }

    .txt_login{
        font-size: 3rem;
        font-size: 2.5rem;
    }

    .or .or_bar::after, .or .or_bar::before{
        width: 100px;     
    }

    .logIn{
        width: 100%;
        height: 100%;
    }  

    
}


@media screen and (min-width: 375px){
    .mobile{
        width: 100%;
        height: 100%;
    }

    .txt_login{
        font-size: 3rem;
    }

    .btn{
     
        margin-top: 25px;
    }
    
   
    .img_midia{
        width: 22px;
    }

    .or .or_bar::after, .or .or_bar::before{
        width: 80px;     
    }

    .social_midia--logo{
        margin-left: 5px;
    }
}