:root {
    --dark-purple: #1D131D;
    --medium-purple: #291829;
    --light-purple: #AB4ABA;
    --high-purple: #753475;
    --purple: #3D273D;
    --pink: #FD01CF;
    --light-pink: #FF4970;
    --light-grey: #BBBABA;
    --white: #FFF;
    --playlist-shadow: #535252;
    --button-color: linear-gradient(90deg, #FD01CF -17.8%, #3A9DB9 126.48%);
    --linear-pink: #af43b3;
    --linear-purple: #291829;
}